.container {
  width: 900px;
  margin: 0 auto;
  font-family: arial, sans-serif;

  a {
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: #302f36;
  }

  span {
    font-size: 20px;
    color: #2e2e2f;
  }
  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
    .div-search-input {
      width: 900px;
      height: 45px;
      border: 1px solid rgb(122, 113, 139, 0.8);
      border-radius: 50px;
      position: relative;

      .search-input {
        position: relative;
        width: 620px;
        height: 35px;
        top: 3px;
        left: 35px;
        appearance: none;
        border: 0;
        outline: 0 !important;
        font-size: 20px;
      }

      p {
        display: none;
        width: 80px;
        margin: 0;
        position: absolute;
        top: 30px;
        left: 25px;
        font-size: 10px;
        color: red;
      }
    }

    button {
      position: relative;
      right: -195px;
      top: 6px;
      width: 22px;
      height: 22px;
      background-image: url("../assets/images/icons-search.png");
      background-repeat: no-repeat;
      background-size: cover;
      border: 0;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .results {
    padding: 10px 15px;
    box-sizing: border-box;
    .result {
      margin-bottom: 20px;
      padding: 15px;
      box-sizing: border-box;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      .sub-info {
        margin-top: 8px;
        p {
          font-size: 12px;
          margin-top: 3px;
          margin-bottom: 3px;
          color: #545358;
        }
      }
    }

    .search-not-found {
      height: 100px;
      margin-top: 30px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 32px;
        text-transform: uppercase;
        text-align: center;

        text-shadow: 1px 1px #c8c6cf;
      }
    }
  }
}
